---
layout: _default
---

<div class="subHero-container md:flex flex-col mx-auto justify-center items-center">
    <div class="subHero-image w-full">
        <!-- <img src="http://via.placeholder.com/1440x620" class="h-64 object-cover w-full"> -->
        <img src="{{image}}" class="h-64 object-cover w-full">

    </div>
    <div class="subHero-content relative shadow b-rad z-1 py-5 bottom-20 bg-white text-center">
        <div class="mw7 center ph3">
            <div class="db">
                <div class="mw7 relative bg-fix-primary mb3">
                <h1 class="f3 f2-l b di lh-title mb2 mw6">
                    {{title}}
                </h1>
                </div>
                <div class="mw7 relative bg-fix-primary">
                <p>
                    <a href="https://www.bcm.edu/people-search/mohit-khera-24469" id="schedule" target="_blank" class="btn btn-primary shadow mt-1">Schedule an Appointment</a>
                </p>
                </div>
            </div>
        </div>
    </div>

    <div class="subContent flex pb-16 container">
        {% if sidebar %}
        <div class="md:w-3/12">
            <aside>
                {% if sidebar.heading %}
                    <h2>{{sidebar.heading}}</h2>
                {% endif %}
                {% if sidebar.subtitle %}
                    <p>{{sidebar.subtitle}}</p>
                {% endif %}
                {% if sidebar.sidebarContent %}
                    <div>
                        {{sidebar.sidebarContent}}
                    </div>
                {% endif %}
                {% if sidebar.sidebarLink1 %}
                    <a href="{{sidebar.sidebarLink1}}" class="underline hover:no-underline">{{sidebar.sidebarLinkText1}}</a>
                {% endif %}
                {% if sidebar.sidebarLink2 %}
                    <a href="{{sidebar.sidebarLink2}}" class="underline hover:no-underline">{{sidebar.sidebarLinkText2}}</a>
                {% endif %}
                {% if sidebar.sidebarLink3 %}
                    <a href="{{sidebar.sidebarLink3}}" class="underline hover:no-underline">{{sidebar.sidebarLinkText3}}</a>
                {% endif %}
                {% if sidebar.sidebarLink4 %}
                    <a href="{{sidebar.sidebarLink4}}" class="underline hover:no-underline">{{sidebar.sidebarLinkText4}}</a>
                {% endif %}
                {% if sidebar.sidebarLink5 %}
                    <a href="{{sidebar.sidebarLink5}}" class="underline hover:no-underline">{{sidebar.sidebarLinkText5}}</a>
                {% endif %}
            </aside>
        </div>
        
        <div class="md:w-9/12">
            {{ content | safe}}
        </div>
        {% else %}
        <div class="md:w-10/12 mx-auto my-0">
            {{ content | safe}}
        </div>
        {% endif %}
    </div>
</div>