---
layout: _default
---

<div class="center mw6 pv3">
  <img src="{{ image }}" alt="" class="db pb-5 center b-rad-top-left b-rad-top-right" />

  <div class="container px-5 py-16">
    <h1 class="font-bold text-5xl">Contact</h1>

    {{ content | safe }}
  
    <a href="https://www.bcm.edu/people-search/mohit-khera-24469" id="schedule" target="_blank" class="btn btn-primary shadow mt-5 mb-2">Schedule an Appointment</a>
  
    <div>
      <div class="lg:flex items-center">
          <div class="lg:w-1/2">
              <div class="contact-container pb-16 lg:py-5 lg:pr-10">
                  <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true" netlify>
                      <input type="hidden" name="contact" value="contact">
                      <div class="form-group">
                          <label>Your Name:</label>  
                          <input type="text" name="name" required/> 
                      </div>
                      <div class="form-group">
                          <label>Your Email:</label>
                          <input type="email" name="email" required/>
                      </div>
                      <div class="form-group">
                          <label>Message:</label>
                          <textarea name="message" rows="6" required></textarea>
                      </div>
                      <div class="form-group">
                      <button type="submit" class="btn btn-primary b-rad shadow mt-5">Send</button>
                      </div>
                  </form>
              </div>
          </div>
          <div class="lg:w-1/2">
              <div class="google-maps-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.7211235741975!2d-95.39641134933476!3d29.69886398192106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c071be3e5a3d%3A0xbaf2d9caafaa5d29!2sDr.%20Mohit%20Khera%2C%20MD!5e0!3m2!1sen!2sus!4v1631129643082!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          </div>
      </div>
    </div>
  </div>

  
</div>
