---
layout: _default
---

{% if topsection %}
<div class="hero-container md:flex mx-auto justify-center items-center">
    <div class="hero-image md:w-5/12">
        <img src="{{ topsection.image }}" alt="{{ topsection.alt }}" class="h-screen object-cover w-full">
    </div>
    <div class="hero-content md:w-7/12 absolute md:static bottom-1/2 z-1 w-full py-5">
        <div class="mw7 center ph3">
        <div class="db">
            <div class="mw7 relative bg-fix-primary">
            <h1 class="f2 f1-l b di lh-title mw6">
                {{ topsection.heading }}
            </h1>
            </div>
            <div class="mw7 relative bg-fix-primary">
            <p class="b di lh-title mw6">
                {{ topsection.subtitle }}
            </p>
            <p>
                <a href="https://www.bcm.edu/healthcare/request-an-appointment" id="schedule" target="_blank" class="btn btn-primary shadow mt-7" :class="{fixed : !scrollAtTop}" @scroll.window = "scrollAtTop = (window.pageYOffset > 50) ? false : true">Schedule an Appointment</a>
            </p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Services -->
<div class="mt-0 px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
    <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
            Low Testosterone
          </h2>
          <p>
            Low testosterone, also known as hypogonadism, affects approximately 40% of men between the ages of 40 and 70 years of age.
          </p>
          <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Treatment Options</a>
        </div>
      </div>
      <div>
        <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
      </div>
    </div>
</div>

<div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
    <div class="flex flex-col-reverse lg:grid gap-5 row-gap-8 lg:grid-cols-2 order-last">
        <div>
            <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
          </div>
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
            Erectile Dysfunction
          </h2>
          <p>
            The concept of erectile preservation is to increase blood flow and oxygen to the penile tissue and thus prevent scarring and permanent damage to the penis. It is important to take this proactive approach because many times the scarring that occurs in the penis after a radical prostatectomy is irreversible.
          </p>
          <a href="/patient-conditions/erectile-dysfunction" class="btn btn-primary shadow b-rad mt-5">Learn more about treatment</a>
        </div>
      </div>
    </div>
</div>

  <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
    <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
            Testis Pain
          </h2>
          <p>
            Need content
          </p>
          <a href="/patient-conditions/testis-pain" class="btn btn-primary shadow b-rad mt-5">Learn more about treatment</a>
        </div>
      </div>
      <div>
        <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
      </div>
    </div>
</div>

<div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
    <div class="flex flex-col-reverse lg:grid gap-5 row-gap-8 lg:grid-cols-2 order-last">
        <div>
            <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
          </div>
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
            Peyronie's Disease
          </h2>
          <p>
            Peyronie’s disease is an abnormal curvature of the penis when it is erect.  It is estimated that up to 5-9% of men suffer from Peyronie’s disease.   The average age of onset of this disease is 57 years old and the disease becomes more common as men become older.  The cause of Peyronie’s disease remains unknown.  However, many believe that it is due to blunt penile injury or repeated trauma associated with sexual activity.  Men will present with a plaque or a “knot” in their penis and/or a curvature of their penis.  Significant penile curvatures can result in pain, poor erections, and an inability to engage in sexual intercourse.
          </p>
          <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Living with Peyronie's Disease</a>
        </div>
      </div>
    </div>
</div>

<div class="load-more">
    <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
        <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
          <div class="flex flex-col justify-center">
            <div class="max-w-xl mb-6">
              <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
                Premature Ejaculation
              </h2>
              <p>
                Premature ejaculation (PE) is a male sexual dysfunction characterized by ejaculation which almost always occurs within approximately one minute of vaginal penetration and this results in distress for the male.
              </p>
              <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Treating Premature Ejaculation</a>
            </div>
          </div>
          <div>
            <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
          </div>
        </div>
    </div>
    
    <div class="load-more-container" x-data="{show:false}">
        <div class="text-center">
            <a class="btn btn-primary shadow" @click="show=!show" x-text="show ? 'Less': 'More'"></a>
        </div>

        <div x-show.transition="show">

            <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
                <div class="flex flex-col-reverse lg:grid gap-5 row-gap-8 lg:grid-cols-2 order-last">
                    <div>
                        <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
                      </div>
                  <div class="flex flex-col justify-center">
                    <div class="max-w-xl mb-6">
                      <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
                        Vasectomy
                      </h2>
                      <p>
                        Every year over 500,000 men choose to have a vasectomy.  A vasectomy is minor office procedure that blocks the sperm from entering the ejaculate.  A vasectomy can be reversed but the sooner you reverse the vasectomy, the better the outcomes.
                      </p>
                      <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Procedure Options</a>
                    </div>
                  </div>
                </div>
            </div>

            <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
                <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
                  <div class="flex flex-col justify-center">
                    <div class="max-w-xl mb-6">
                      <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
                        Male Infertility
                      </h2>
                      <p>
                        Male infertility is a fairly common problem.  While approximately 15% of all U.S. couples are infertile, up to 50% of infertile couples have a male factor fertility problem and of these, 20% will not be able to conceive solely because of an impaired male factor. 
                      </p>
                      <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Learn More</a>
                    </div>
                  </div>
                  <div>
                    <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
                  </div>
                </div>
            </div>
  
            <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
                <div class="flex flex-col-reverse lg:grid gap-5 row-gap-8 lg:grid-cols-2 order-last">
                    <div>
                        <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
                      </div>
                  <div class="flex flex-col justify-center">
                    <div class="max-w-xl mb-6">
                      <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
                        Female Sexual Dysfunction
                      </h2>
                      <p>
                        Female Sexual Dysfunction, or FSD, affects 43% (approximately 40 million) of American women.
                      </p>
                      <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Learn More</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
                <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
                  <div class="flex flex-col justify-center">
                    <div class="max-w-xl mb-6">
                      <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
                        Delayed Ejaculation
                      </h2>
                      <p>
                        Need Content
                      </p>
                      <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Learn More</a>
                    </div>
                  </div>
                  <div>
                    <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
                  </div>
                </div>
            </div>
            
            <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
                <div class="flex flex-col-reverse lg:grid gap-5 row-gap-8 lg:grid-cols-2 order-last">
                    <div>
                        <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
                      </div>
                  <div class="flex flex-col justify-center">
                    <div class="max-w-xl mb-6">
                      <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
                        BPH (enlarged prostate)
                      </h2>
                      <p>
                        Need Content
                      </p>
                      <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Learn more about BPH</a>
                    </div>
                  </div>
                </div>
            </div>
            <div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-14">
                <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
                  <div class="flex flex-col justify-center">
                    <div class="max-w-xl mb-6">
                      <h2 class="max-w-lg my-5 text-2xl font-bold text-gray-900 sm:text-2xl sm:leading-none">
                        Male Stress Incontinence
                      </h2>
                      <p>
                        Prior to considering what type of procedure is best for the patient, many patient will undergo cystoscopy and assessment of their degree of leakage in the office.  Some patients will undergo specialized testing such as videourodynamics.  Once these tests are complete, patients will be counseled on the three most common treatment options for male stress incontinence.
                      </p>
                      <a href="/patient-conditions/peyronies-disease" class="btn btn-primary shadow b-rad mt-5">Procedure Options</a>
                    </div>
                  </div>
                  <div>
                    <img class="shadow b-rad object-cover w-full h-56 sm:h-72" src="https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260" alt="" />
                  </div>
                </div>
            </div>
        </div>
    </div>

    {% if resources %}
    <section id="patient-resources" class="bg-highlight primary">
        <div class="py-16 mt-24">
            <h4 class="text-center text-2xl">Patient Resources</h4>
            <div class="container px-5 py-16 mx-auto">
              <div class="flex flex-col lg:flex-row -m-4 mb-8">
                {% if resources.resource1 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div>
                    {% if resources.resource1.category1 %}
                        <a href="/patient-resources#{{resources.resource1.category1}}"><span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{resources.resource1.category1}}</span></a>
                    {% endif %}
                    <a class="title-font text-left text-lg font-bold underline hover:no-underline leading-4 py-3">{{resources.resource1.title1}}</a>
                    {% if resources.resource1.desc1 %}
                        <p>{{resources.resource1.desc1}}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% if resources.resource2 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div>
                    {% if resources.resource2.category2 %}
                        <a href="/patient-resources#{{resources.resource2.category2}}"><span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{resources.resource2.category2}}</span></a>
                    {% endif %}
                    <a class="title-font text-left text-lg font-bold underline hover:no-underline leading-4 py-3">{{resources.resource2.title2}}</a>
                    {% if resources.resource2.desc2 %}
                        <p>{{resources.resource2.desc2}}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% if resources.resource3 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div>
                    {% if resources.resource3.category3 %}
                        <a href="/patient-resources#{{resources.resource3.category3}}"><span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{resources.resource3.category3}}</span></a>
                    {% endif %}
                    <a class="title-font text-left text-lg font-bold underline hover:no-underline leading-4 py-3">{{resources.resource3.title3}}</a>
                    {% if resources.resource3.desc3 %}
                        <p>{{resources.resource3.desc3}}</p>
                    {% endif %}
                  </div>  
                </div>
                {% endif %}
              </div>
              <div class="flex flex-col lg:flex-row -m-4">
                {% if resources.resource4 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div>
                    {% if resources.resource4.category4 %}
                        <a href="/patient-resources#{{resources.resource4.category4}}"><span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{resources.resource4.category4}}</span></a>
                    {% endif %}
                    <a class="title-font text-left text-lg font-bold underline hover:no-underline leading-4 py-3">{{resources.resource4.title4}}</a>
                    {% if resources.resource4.desc4 %}
                        <p>{{resources.resource4.desc4}}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                {% if resources.resource5 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div>
                    {% if resources.resource5.category5 %}
                        <a href="/patient-resources#{{resources.resource5.category5}}"><span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{resources.resource5.category5}}</span></a>
                    {% endif %}
                    <a class="title-font text-left text-lg font-bold underline hover:no-underline leading-4 py-3">{{resources.resource5.title5}}</a>
                    {% if resources.resource5.desc5 %}
                        <p>{{resources.resource5.desc5}}</p>
                    {% endif %}
                  </div>               
                </div>
                {% endif %}
                {% if resources.resource6 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div>
                    {% if resources.resource6.category6 %}
                        <a href="/patient-resources#{{resources.resource6.category6}}"><span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{resources.resource6.category6}}</span></a>
                    {% endif %}
                    <a class="title-font text-left text-lg font-bold underline hover:no-underline leading-4 py-3">{{resources.resource6.title6}}</a>
                    {% if resources.resource6.desc6 %}
                        <p>{{resources.resource6.desc6}}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="text-center more-resources"><a href="#" class="inline btn shadow text-center">See More</a></div>
            </div>
    </section>
    {% endif %}

    <section id="more-info" class="primary">
        <div class="py-16">
            <h4 class="text-center text-2xl">Need More Info?</h4>
            <div class="container px-5 py-8 mx-auto">
              <div class="flex flex-col lg:flex-row -m-4">
                <span class="inline-flex sm:mt-0 mt-2 justify-center sm:justify-end">
                    <a class="">
                      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                      </svg>
                    </a>
                    <a class="ml-3">
                      <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                      </svg>
                    </a>
                    <a class="ml-3 insta">
                      <svg stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                      </svg>
                    </a>
                  </span>
              </div>
            </div>
        </div>
    </section>

    <section id="about" class="bg-primary my-12">
        <div class="container mx-auto flex px-5 lg:py-0 lg:flex-row flex-col items-center">
            <div class="lg:w-5/12 mb-10 md:mb-0 about-img-container">
                <img class="object-cover object-center rounded relative sm:bottom-16 lg:bottom-0 xl:bottom-20 b-rad" alt="Dr. Mohit Khera" src="{{ about.image }}">
            </div>
            <div class="lg:w-7/12 lg:pl-16 pt-0 pb-16 lg:py-16 flex flex-col md:items-start md:text-left text-white items-center text-center">
                <h4 class="title-font sm:text-4xl text-3xl font-medium">{{ about.heading }}</h4>
                <p class="title-font text-2xl font-bold">{{ about.subtitle }}</p>
                <p>{{ about.about }}</p>
                <p>Dr. Khera earned his undergraduate degree at Vanderbilt University. He subsequently earned
                    his Masters Degree in Business Administration and his Masters Degree in Public Health from
                    Boston University. He received his Medical Degree from The University of Texas Medical
                    School at San Antonio and completed his Urology residency training in the Scott Department
                    of Urology at Baylor College of Medicine. At Baylor, he completed a one-year general
                    surgery internship and then went on to complete a five-year residency program in Urology.
                    After completing his Urology residency, he went on to complete a one-year fellowship in
                    Male Reproductive Medicine and Surgery at Baylor. Currently he is a Professor in the Scott
                    Department of Urology at Baylor College of Medicine and he holds the F. Brantley Scott
                    Chair in Urology. Dr. Khera specializes in male and female sexual dysfunction, Men’s Health
                    
                    and hormone replacement therapy. Dr. Khera also serves as the Director of the Laboratory for
                    Andrology Research, the Medical Director of the Baylor Executive Health Program and the
                    Medical Director of the Scott Department of Urology. He also serves as President-Elect of
                    the Sexual Medicine Society of North America.
                </p>
                <a href="#" class="btn btn-primary shadow mt-5">Read More</a>
            </div>
        </div>
    </section>

    {% if testimonials %}
    <section id="testimonials">
        <h4 class="text-center text-2xl">Testimonials</h4>
        <div class="container px-5 py-16 mx-auto">
          <div class="flex flex-col lg:flex-row -m-4">
            {% if testimonials.testimonial1 %}
            <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-5 shadow b-rad">
              <div class="h-full">
                <p class="leading-relaxed mb-8">{{ testimonials.testimonial1.testimonialContent1 }}</p>
                <h2 class="text-gray-900 font-medium title-font text-sm">{{ testimonials.testimonial1.name1 }}</h2>
              </div>
            </div>
            {% endif %}
            {% if testimonials.testimonial2 %}
            <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-5 shadow b-rad">
              <div class="h-full">
                <p class="leading-relaxed mb-8">{{ testimonials.testimonial2.testimonialContent2 }}</p>
                <h2 class="text-gray-900 font-medium title-font text-sm">{{ testimonials.testimonial2.name2 }}</h2>
              </div>
            </div>
            {% endif %}
            {% if testimonials.testimonial3 %}
            <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-5 shadow b-rad">
              <div class="h-full">
                <p class="leading-relaxed mb-8">{{ testimonials.testimonial3.testimonialContent3 }}</p>
                <h2 class="text-gray-900 font-medium title-font text-sm">{{ testimonials.testimonial3.name3 }}</h2>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="text-center pb-16"><a href="#" class="btn btn-primary shadow text-center">See More</a></div>
    </section>
    {% endif %}

    <section id="publications" class="bg-primary white">
        <div class="py-16">
            <h4 class="text-center text-2xl">Publications, Interviews, & Media</h4>
            <div class="container px-5 py-16 mx-auto">
              <div class="flex flex-col lg:flex-row mb-8">
                {% if work.featured1 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div class="text-left">
                    <img alt="{{ work.featured1.title1 }}" class="w-100 mb-4 object-cover shadow b-rad object-center inline-block bg-gray-100" src="{{ work.featured1.image1 }}">
                    {% if work.featured1.link1 %}
                    <a class="title-font text-left text-xl font-bold underline hover:no-underline" href="{{ work.featured1.link1 }}" target="_blank">{{ work.featured1.title1 }}</p>
                    {% else %}  
                    <p class="title-font text-left text-xl font-bold">{{ work.featured1.title1 }}</p>
                    {% endif %}             
                   </div>
                </div>
                {% endif %}
                {% if work.featured2 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div class="text-left">
                    <img alt="{{ work.featured2.title2 }}" class="w-100 mb-4 object-cover shadow b-rad object-center inline-block bg-gray-100" src="{{ work.featured2.image2 }}">
                    {% if work.featured2.link2 %}
                    <a class="title-font text-left text-xl font-bold underline hover:no-underline" href="{{ work.featured2.link2 }}" target="_blank">{{ work.featured2.title2 }}</p>
                    {% else %}  
                    <p class="title-font text-left text-xl font-bold">{{ work.featured2.title2 }}</p>
                    {% endif %}    
                  </div>
                </div>
                {% endif %}
                {% if work.featured3 %}
                <div class="lg:w-1/3 lg:mb-0 m-3 p-4 shadow b-rad bg-white primary">
                  <div class="text-center">
                    <img alt="{{ work.featured3.title3 }}" class="w-100 mb-4 object-cover shadow b-rad object-center inline-block bg-gray-100" src="{{ work.featured3.image3 }}">
                    {% if work.featured3.link3 %}
                    <a class="title-font text-left text-xl font-bold underline hover:no-underline" href="{{ work.featured3.link3 }}" target="_blank">{{ work.featured3.title3 }}</p>
                    {% else %}  
                    <p class="title-font text-left text-xl font-bold">{{ work.featured3.title3 }}</p>
                    {% endif %}   
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="flex flex-col lg:flex-row mb-8">
                {% if work.featured4 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div class="text-center">
                    <img alt="{{ work.featured4.title4 }}" class="w-100 mb-4 object-cover shadow b-rad object-center inline-block bg-gray-100" src="{{ work.featured4.image4 }}">
                    {% if work.featured4.link4 %}
                    <a class="title-font text-left text-xl font-bold underline hover:no-underline" href="{{ work.featured4.link4 }}" target="_blank">{{ work.featured4.title4 }}</p>
                    {% else %}  
                    <p class="title-font text-left text-xl font-bold">{{ work.featured4.title4 }}</p>
                    {% endif %}   
                  </div>
                </div>
                {% endif %}
                {% if work.featured5 %}
                <div class="lg:w-1/3 lg:mb-0 mb-6 m-3 p-4 shadow b-rad bg-white primary">
                  <div class="text-center">
                    <img alt="{{ work.featured5.title5 }}" class="w-100 mb-4 object-cover shadow b-rad object-center inline-block bg-gray-100" src="{{ work.featured5.image5 }}">
                    {% if work.featured5.link5 %}
                    <a class="title-font text-left text-xl font-bold underline hover:no-underline" href="{{ work.featured5.link5 }}" target="_blank">{{ work.featured5.title5 }}</p>
                    {% else %}  
                    <p class="title-font text-left text-xl font-bold">{{ work.featured5.title5 }}</p>
                    {% endif %}   
                  </div>
                </div>
                {% endif %}
                {% if work.featured6 %}
                <div class="lg:w-1/3 lg:mb-0 m-3 p-4 shadow b-rad bg-white primary">
                  <div class="text-center">
                    <img alt="{{ work.featured6.title6 }}" class="w-100 mb-4 object-cover shadow b-rad object-center inline-block bg-gray-100" src="{{ work.featured6.image6 }}">
                    {% if work.featured6.link6 %}
                    <a class="title-font text-left text-xl font-bold underline hover:no-underline" href="{{ work.featured6.link6 }}" target="_blank">{{ work.featured6.title6 }}</p>
                    {% else %}  
                    <p class="title-font text-left text-xl font-bold">{{ work.featured6.title6 }}</p>
                    {% endif %}   
                  </div>
                </div>
                {% endif %}  
              </div>
              <div>
                  <div class="flex flex-col lg:flex-row shadow b-rad bg-white primary mb-4 m-3">
                    {% if partners.image1 %}
                        <div class="lg:w-1/4 p-4">
                            <img alt="testimonial" class="w-100 object-center shadow b-rad inline-block bg-gray-100" src="{{ partners.image1 }}">
                        </div>
                    {% endif %}
                    {% if partners.image2 %}                   
                        <div class="lg:w-1/4 p-4">
                            <img alt="testimonial" class="w-100 object-center shadow b-rad inline-block bg-gray-100" src="{{ partners.image2 }}">
                        </div>
                    {% endif %}
                    {% if partners.image3 %}      
                        <div class="lg:w-1/4 p-4">
                            <img alt="testimonial" class="w-100 object-center shadow b-rad inline-block bg-gray-100" src="{{ partners.image3 }}">
                        </div>
                    {% endif %}
                    {% if partners.image4 %}      
                        <div class="lg:w-1/4 p-4">
                            <img alt="testimonial" class="w-100 object-center shadow b-rad inline-block bg-gray-100" src="{{ partners.image4 }}">
                        </div>
                    {% endif %}
                  </div>
              </div>
              <div class="text-center"><a href="#" class="btn btn-primary shadow text-center">See More</a></div>
            </div>
        </div>
    </section>
</div>