---
layout: _default
---


<!-- <div class="h-screen bg-primary white p-10 find-a-resource flex flex-col justify-start">
    <div>
        <h1 class="f1 text-center leading-10">Patient Resources</h1>
        <h2 class="text-center leading-10 mb-7">{{heading}}</h1>
        <h2 class="text-center leading-10 mb-7">{{subtitle}}</h1>
    </div>

    <div id="condition">
        <ul id="menu" class="b-rad primary bg-white">
            <li>
              <input id="check01" type="checkbox" name="menu"/>
              <label for="check01" class="p-5" id="condition-select">Select</label>
              <ul class="submenu">
                {% if bph %}
                    <li><a href="#bph">BPH</a></li>
                {% endif %}
                {% if delayedEjaculation %}
                    <li><a href="#delayed-ejaculation">Delayed Ejaculation</a></li>
                {% endif %}
                {% if erectileDysfunction %}
                    <li><a href="#erectile-dysfunction">Erectile Dysfunction</a></li>
                {% endif %}
                {% if femaleSexualDysfunction %}
                    <li><a href="#female-sexual-dysfunction">Female Sexual Dysfunction</a></li>
                {% endif %}
                {% if lowTestosterone %}
                    <li><a href="#low-testosterone">Low Testosterone</a></li>
                {% endif %}
                {% if maleInfertility %}
                    <li><a href="#male-infertility">Male Infertility</a></li>
                {% endif %}
                {% if maleStressIncontinence %}
                    <li><a href="#male-stress-incontinence">Male Stress Incontinence</a></li>
                {% endif %}
                {% if peyroniesDisease %}
                    <li><a href="#peyronies-disease">Peyronie's Disease</a></li>
                {% endif %}
                {% if prematureEjaculation %}
                    <li><a href="#premature-ejaculation">Premature Ejaculation</a></li>
                {% endif %}
                {% if testisPain %}
                    <li><a href="#testis-pain">Testis Pain</a></li>
                {% endif %}
                {% if vasectomy %}
                    <li><a href="#vasectomy">Vasectomy</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
    </div>  
</div> -->

<div class="container mx-auto my-0 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:p-8">
    <h1 class="f1 text-center leading-10">Patient Resources</h1>
</div>

<div class="px-4 pb-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:p-8">
    <section id="videos" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if videos %}

                <p class="h2 font-bold text-xl mb-3">Videos</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in videos %}
                        <div class="p-5 mr-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.videoImage %}
                                <img src="{{ item.videoImage }}" alt="{{ item.videoTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.videoLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.videoLink }}">{{ item.videoTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.videoTitle }}</h3>
                            {% endif %} 
                            <p>{{ item.videoDesc }}</p>
                        </div>
                {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="media" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if media %}

                <p class="h2 font-bold text-xl mb-3">Media</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in media %}
                        <div class="p-5 mr-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.mediaImage %}
                                <img src="{{ item.mediaImage }}" alt="{{ item.mediaTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.mediaLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.mediaLink }}">{{ item.mediaTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.mediaTitle }}</h3>
                            {% endif %} 
                            <p>{{ item.mediaDesc }}</p>
                        </div>
                {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="articles" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if articles %}

                <p class="h2 font-bold text-xl mb-3">Articles</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in articles %}
                        <div class="p-5 mr-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.articleImage %}
                                <img src="{{ item.articleImage }}" alt="{{ item.articleTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.bphLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.articleLink }}">{{ item.articleTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.articleTitle }}</h3>
                            {% endif %} 
                            <p>{{ item.articleDesc }}</p>
                        </div>
                {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="helpful-websites" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if websites %}

                <p class="h2 font-bold text-xl mb-3">Helpful Websites</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in websites %}
                        <div class="p-5 mr-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.websiteImage %}
                                <img src="{{ item.websiteImage }}" alt="{{ item.websiteTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.websiteLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.websiteLink }}">{{ item.websiteTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.websiteTitle }}</h3>
                            {% endif %} 
                            <p>{{ item.websiteDesc }}</p>
                        </div>
                {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <!-- <section id="bph" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if bph %}

                <p class="h2 font-bold text-xl mb-3">BPH</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in bph %}
                        <div class="p-5 mr-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.bphImage %}
                                <img src="{{ item.bphImage }}" alt="{{ item.bphTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.bphLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.bphLink }}">{{ item.bphTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.bphTitle }}</h3>
                            {% endif %} 
                            <p>{{ item.bphDesc }}</p>
                        </div>
                {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="delayed-ejaculation" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if delayedEjaculation %}

                <p class="h2 font-bold text-xl mb-3">Delayed Ejaculation</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in delayedEjaculation %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.deImage %}
                                <img src="{{ item.deImage }}" alt="{{ item.deTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.deLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.deLink }}">{{ item.deTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.deTitle }}</h3>
                            {% endif %}
                            <p>{{ item.deDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="erectile-dysfunction" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if ed %}

                <p class="h2 font-bold text-xl mb-3">Erectile Dysfunction</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in ed %}
                        <div class="p-5 mr-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.edImage %}
                                <img src="{{ item.edImage }}" alt="{{ item.edTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.edLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.edLink }}">{{ item.edTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.edTitle }}</h3>
                            {% endif %}                            
                        <p>{{ item.edDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="female-sexual-dysfunction" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if femaleSexualDysfunction %}

                <p class="h2 font-bold text-xl mb-3">Female Sexual Dysfunction</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in femaleSexualDysfunction %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.fsdImage %}
                                <img src="{{ item.fsdImage }}" alt="{{ item.fsdTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.fsdLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.fsdLink }}">{{ item.fsdTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.fsdTitle }}</h3>
                            {% endif %}
                            <p>{{ item.fsdDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="low-testosterone" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if lowTestosterone %}

                <p class="h2 font-bold text-xl mb-3">Low Testosterone</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in lowTestosterone %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.ltImage %}
                                <img src="{{ item.ltImage }}" alt="{{ item.ltTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.ltLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.ltLink }}">{{ item.ltTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.ltTitle }}</h3>
                            {% endif %}
                            <p>{{ item.ltDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="male-infertility" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if maleInfertility %}

                <p class="h2 font-bold text-xl mb-3">Male Infertility</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in maleInfertility %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.miImage %}
                                <img src="{{ item.miImage }}" alt="{{ item.miTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.miLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.miLink }}">{{ item.miTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.miTitle }}</h3>
                            {% endif %}
                            <p>{{ item.miDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="male-stress-incontinence" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if maleStressIncontinence %}

                <p class="h2 font-bold text-xl mb-3">Male Stress Incontinence</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in maleStressIncontinence %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.msiImage %}
                                <img src="{{ item.msiImage }}" alt="{{ item.msiTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.msiLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.msiLink }}">{{ item.msiTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.msiTitle }}</h3>
                            {% endif %}
                            <p>{{ item.msiDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="peyronies-disease" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if peyroniesDisease %}

                <p class="h2 font-bold text-xl mb-3">Payronie's Disease</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in peyroniesDisease %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.pdImage %}
                                <img src="{{ item.pdImage }}" alt="{{ item.pdTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.pdLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.pdLink }}">{{ item.pdTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.pdTitle }}</h3>
                            {% endif %}
                            <p>{{ item.pdDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="premature-ejaculation" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if prematureEjaculation %}

                <p class="h2 font-bold text-xl mb-3">Premature Ejaculation</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in prematureEjaculation %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.peImage %}
                                <img src="{{ item.peImage }}" alt="{{ item.peTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.peLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.peLink }}">{{ item.peTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.peTitle }}</h3>
                            {% endif %}
                            <p>{{ item.peDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="testis-pain" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if testisPain %}

                <p class="h2 font-bold text-xl mb-3">Testis Pain</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in testisPain %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.tpImage %}
                                <img src="{{ item.tpImage }}" alt="{{ item.tpTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.tpLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.tpLink }}">{{ item.tpTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.tpTitle }}</h3>
                            {% endif %}
                            <p>{{ item.tpDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section>

    <section id="vasectomy" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if vasectomy %}

                <p class="h2 font-bold text-xl mb-3">Vasectomy</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in vasectomy %}
                        <div class="p-5 mr-5 mb-5 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.vasectomyImage %}
                                <img src="{{ item.vasectomyImage }}" alt="{{ item.vasectomyTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.vasectomyLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.vasectomyLink }}">{{ item.vasectomyTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.vasectomyTitle }}</h3>
                            {% endif %}
                            <p>{{ item.vasectomyDesc }}</p>
                        </div>
                {% endfor %}
                </div>

            {% endif %}
        </div>
    </section> -->

</div>
