---
layout: _default
---

<div class="container mx-auto my-0 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 md:p-8 text-center mb-10">
    <h1 class="f1 text-center leading-10 py-10">Patient Resources</h1>
    <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
        <a href="#videos">{{videosHeading}}</a>
    </span>
    <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
        <a href="#media">{{mediaHeading}}</a>
    </span>
    <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
        <a href="#articles">{{articlesHeading}}</a>
    </span>
    <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
        <a href="#clinical-trials">{{trialsHeading}}</a>
    </span>
    <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
        <a href="#questionnaires">{{questionHeading}}</a>
    </span>
    <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
        <a href="#helpful-websites">{{websitesHeading}}</a>
    </span>
    {% if instructionHeading %}
        <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
            <a href="#helpful-websites">{{instructionHeading}}</a>
        </span>
    {% endif %}
    {% if other1Heading %}
        <span class="db sm:inline-block shadow b-rad p-3 bg-primary white title-font font-bold text-xs mb-2 sm:mx-1 mx-5">
            <a href="#other">Other</a>
        </span>
    {% endif %}
</div>

<div class="px-4 pb-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:p-8">
    <section id="videos" class="patient-resources" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if videos %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{videosHeading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in videos %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.videoImage %}
                                <img src="{{ item.videoImage }}" alt="{{ item.videoTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.videoCategory %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.videoCategory}}</span>
                            {% endif %} 

                            {% if item.videoLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.videoLink }}">{{ item.videoTitle }}</a></h3>
                            {% endif %}

                            {% if item.videoFile %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.videoFile }}">{{ item.videoTitle }}</a></h3>
                            {% endif %} 
                            <p>{{ item.videoDesc }}</p>
                        </div>
                    {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="media" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if media %}

            <p class="h2 font-bold text-xl mb-3 pl-5">{{mediaHeading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in media %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.mediaImage %}
                                <img src="{{ item.mediaImage }}" alt="{{ item.mediaTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.mediaCategory %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.mediaCategory}}</span>
                            {% endif %}

                            {% if item.mediaLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.mediaLink }}">{{ item.mediaTitle }}</a></h3>
                            {% endif %}

                            {% if item.mediaFile %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.mediaFile }}">{{ item.mediaTitle }}</a></h3>
                            {% endif %} 
                            <p>{{ item.mediaDesc }}</p>
                        </div>
                    {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="articles" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if articles %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{articlesHeading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in articles %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.articleImage %}
                                <img src="{{ item.articleImage }}" alt="{{ item.articleTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.articleCategory %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.articleCategory}}</span>
                            {% endif %}

                            {% if item.articleLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.articleLink }}">{{ item.articleTitle }}</a></h3>
                            {% endif %}

                            {% if item.articleFile %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.articleFile }}">{{ item.articleTitle }}</a></h3>
                            {% endif %} 
                            <p>{{ item.articleDesc }}</p>
                        </div>
                    {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="clinical-trials" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if trials %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{trialsHeading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in trials %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.trialImage %}
                                <img src="{{ item.trialImage }}" alt="{{ item.trialTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.trialCategory %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.trialCategory}}</span>
                            {% endif %}

                            {% if item.trialLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.trialLink }}">{{ item.trialTitle }}</a></h3>
                            {% endif %}

                            {% if item.trialFile %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.trialFile }}">{{ item.trialTitle }}</a></h3>
                            {% endif %} 
                            <p>{{ item.trialDesc }}</p>
                        </div>
                    {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="questionnaires" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if questionnaires %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{questionHeading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in questionnaires %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.questionImage %}
                                <img src="{{ item.questionImage }}" alt="{{ item.questionTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.questionCategory %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.questionCategory}}</span>
                            {% endif %}

                            {% if item.questionLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.questionLink }}">{{ item.questionTitle }}</a></h3>
                            {% endif %} 

                            {% if item.questionFile %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.questionFile }}">{{ item.questionTitle }}</a></h3>
                            {% endif %} 
                            <p>{{ item.questionDesc }}</p>
                        </div>
                    {% endfor %}
                </div>
 
            {% endif %}
        </div>
    </section>

    <section id="helpful-websites" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if websites %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{websitesHeading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in websites %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.websiteImage %}
                                <img src="{{ item.websiteImage }}" alt="{{ item.websiteTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.websiteCategory %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.websiteCategory}}</span>
                            {% endif %}
                            {% if item.websiteLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.websiteLink }}">{{ item.websiteTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.websiteTitle }}</h3>
                            {% endif %} 
                            <p>{{ item.websiteDesc }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section id="instructions" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if instructions %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{instructionHeading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in instructions %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.instructionImage %}
                                <img src="{{ item.instructionImage }}" alt="{{ item.instructionTitle }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.instructionCategory %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.instructionCategory}}</span>
                            {% endif %}
                            {% if item.instructionLink %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.instructionLink }}">{{ item.instructionTitle }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.instructionTitle }}</h3>
                            {% endif %} 
                            <p>{{ item.instructionDesc }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section id="other" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if other1 %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{other1Heading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in other1 %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.other1Image %}
                                <img src="{{ item.other1Image }}" alt="{{ item.other1Title }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.other1Category %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.other1Category}}</span>
                            {% endif %}
                            {% if item.other1Link %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.other1Link }}">{{ item.other1Title }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.other1Title }}</h3>
                            {% endif %} 
                            <p>{{ item.other1Desc }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section id="{{other2Heading}}" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if other2 %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{other2Heading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in other2 %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.other2Image %}
                                <img src="{{ item.other2Image }}" alt="{{ item.other2Title }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.other2Category %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.other2Category}}</span>
                            {% endif %}
                            {% if item.other2Link %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.other2Link }}">{{ item.other2Title }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.other2Title }}</h3>
                            {% endif %} 
                            <p>{{ item.other2Desc }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section id="{{other3Heading}}" class="patient-resources pt-10" class="bg-highlight primary">
        <div class="container mx-auto">
            {% if other3 %}

                <p class="h2 font-bold text-xl mb-3 pl-5">{{other3Heading}}</p>

                <div class="resource-container flex flex-wrap">
                    {% for item in other3 %}
                        <div class="p-5 m-3 flex flex-col justify-start flex-1 z-10 items-start b-rad shadow">
                            {% if item.other2Image %}
                                <img src="{{ item.other3Image }}" alt="{{ item.other3Title }}" class="b-rad-20 mb-5 object-cover max-h-64 w-100">
                            {% endif %}
                            {% if item.other3Category %}
                                <span class="inline-block shadow b-rad px-2 py-1 bg-primary white title-font font-bold text-xs mb1">{{item.other3Category}}</span>
                            {% endif %}
                            {% if item.other3Link %}
                                <h3><a class="title-font text-lg underline hover:no-underline" href="{{ item.other3Link }}">{{ item.other3Title }}</a></h3>
                            {% else %} 
                                <h3 class="title-font text-lg pt-3">{{ item.other3Title }}</h3>
                            {% endif %} 
                            <p>{{ item.other3Desc }}</p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
</div>
