<footer class="bg-primary text-white body-font">
    <div class="container px-5 py-24 mx-auto flex items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left md:mt-0 mt-10">
        <a class="flex flex-col title-font font-medium md:items-start md:justify-start justify-center">
          <!-- logo goes here -->
          <span class="text-xl"><h4>Dr. Khera</h4></span>
          <address>
            <p>Baylor College of Medicine Medical Center (Clinic)</p>
            <p>7200 Cambridge St. #10C</p>
            <p>Houston, TX 77030</p>
            <p>United States</p>
            <p><a href="tel:7137984001" class="underline hover:no-underline">Phone: (713) 798-4001</a></p>
          </address>
        </a>
      </div>
      <div class="flex-grow flex flex-wrap -mb-10 md:text-left text-center order-first">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="mb-3 text-xl">Dr. Khera</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="/about">About</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="mb-3 text-xl">Patient Resources</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="/patient-resources" title="Patient Resources">Patient Resources</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="mb-3 text-xl">Patient Conditions</h2>
          <nav class="list-none mb-10">
            <li>
                <a href="/patient-conditions/bph" title="BPH">BPH</a>
            </li>
            <li>
                <a href="/patient-conditions/delayed-ejaculation" title="Delayed Ejaculation">Delayed Ejaculation</a>
            </li>
            <li>
              <a href="/patient-conditions/erectile-dysfunction" title="Erectile Dysfunction">Erectile Dysfunction</a>
            </li>
            <li>
              <a href="/patient-conditions/female-sexual-dysfunction" title="Female Sexual Dysfunction">Female Sexual Dysfunction</a>
            </li>
            <li>
                <a href="/patient-conditions/low-testosterone" title="Low Testosterone">Low Testosterone</a>
            </li>
            <li>
              <a href="/patient-conditions/male-infertility" title="Male Infertility">Male Infertility</a>
            </li>
            <li>
              <a href="/patient-conditions/male-stress-incontinence" title="Male Stress Incontinence">Male Stress Incontinence</a>
            </li>
            <li>
                <a href="/patient-conditions/peyronies-disease" title="Peyronie's Disease">Peyronie's Disease</a>
            </li>
            <li>
                <a href="/patient-conditions/testis-pain" title="Testis Pain">Testis Pain</a>
            </li>
            <li>
                <a href="/patient-conditions/vasectomy" title="Vasectomy">Vasectomy</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="mb-3 text-xl">More</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://www.bcm.edu/healthcare/request-an-appointment" target="_blank" title="Schedule an Appointment">Schedule an Appointment</a>
            </li>
            <li>
                <a href="/contact" title="Contact Dr. Khera">Get in Touch</a>
              </li>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-highlight primary">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col justify-center sm:flex-row">
        <p class="text-sm text-center sm:text-left mr-3">© 2021 Dr. Khera</p>
        <span class="inline-flex sm:mt-0 mt-2 justify-center sm:justify-end">
          <a href="https://www.facebook.com/drmohitkhera" class="cursor-pointer" title="Facebook" target="_blank">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a href="https://twitter.com/DrMohitKhera" class="ml-3 cursor-pointer" title="Twitter" target="_blank">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a href="https://www.instagram.com/drmohitkhera/" class="ml-3 cursor-pointer insta" title="Instagram" target="_blank">
            <svg stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>
