<div id="top-bar" class="bg-primary mx-auto my-0 py-3 db">
    <div id="top-bar-inner" class="text-white container flex justify-center">
        <span class="inline-flex sm:mt-0 mt-2 justify-center">
            <a href="{{social.twitterLink}}" title="Twitter" target="_blank">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a href="{{social.instagramLink}}" class="ml-4 insta" title="Instagram" target="_blank">
              <svg stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a href="{{social.linkedinLink}}" class="ml-4 linkedin" title="LinkedIn" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" width="24" height="24" viewBox="0 0 24 24"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/></svg>
              </a>
          </span>
      </div>
</div>
<header class="w-full">
    
    </div>
    <nav class="flex items-center justify-center xl:justify-between flex-wrap px-6 py-3 lg:px-0 mb-2 container mx-auto" x-data="{ isOpen: false }" @keydown.escape="isOpen = false">
        <!--Logo etc-->
        <div class="flex items-center">
            <a href="/">
                <img src="/static/img/drkheralogo.png" alt="Dr. Mohit Khera" id="logo">
            </a>
        </div>

        <!--Toggle button (hidden on large screens)-->
        <button @click="isOpen = !isOpen" type="button" class="ml-auto block xl:hidden px-2 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500" :class="{ 'transition transform-180': isOpen }" aria-label="Menu">
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                <path x-show="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
            </svg>
        </button>

        <!--Menu-->
        <div class="menu w-full flex-grow xl:flex lg:items-center xl:w-auto text-center " :class="{ 'block shadow b-rad': isOpen, 'hidden': !isOpen }" @click.away="isOpen = false" x-show.transition="true">

            {% if navigation.items %}

                <ul class="pt-6 lg:pt-0 list-reset xl:flex justify-end flex-1 z-10 items-center">
                    {% for item in navigation.items %}
                        <li class="nav__item z-10 mr-2 {% if item.childs %}nav__item--has-childs{% endif %}">
                            <a @click="isOpen = false" class="inline-block no-underline hover:text-500 py-2 px-2" href="{{ item.url }}">{{ item.text }}</a>
                            {% if item.childs %}
                                <ul class="nav__sub-list z-10 b-rad">
                                    {% for child in item.childs %}
                                        <li class="nav__sub-item">
                                            <a class="nav__sub-item-anchor primary" href="{{ child.url }}">
                                                {{ child.text }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div>
    </nav>
</header>